.home_banner {
  widows: 1366px;
  height: 620px;
  overflow: hidden;
  background: url(../images/home/home_banner.jpg) no-repeat;
  background-position: -600px 0;
  position: relative; }
  .home_banner .banner_con {
    position: absolute;
    left: 100px;
    top: 150px;
    color: white; }
    .home_banner .banner_con h2 {
      font-size: 30px; }
    .home_banner .banner_con p {
      font-size: 18px;
      line-height: 40px; }
    .home_banner .banner_con a {
      color: white; }
      .home_banner .banner_con a span {
        display: inline-block;
        margin-top: 40px;
        padding-right: 20px; }

.home_main {
  margin-top: 10px;
  position: relative;
  overflow: hidden; }
  .home_main .home_m {
    height: 400px;
    overflow: hidden; }
    .home_main .home_m .home_main_1 {
      position: relative;
      float: left;
      width: 670px;
      height: 580px;
      margin-right: 6px;
      overflow: hidden; }
      .home_main .home_m .home_main_1 .img01 {
        position: absolute;
        left: -200px;
        top: -100px;
        height: 500px; }
      .home_main .home_m .home_main_1 .main_1_con {
        position: absolute;
        top: 30px;
        left: 200px;
        color: #000;
        text-align: center; }
        .home_main .home_m .home_main_1 .main_1_con h2 {
          font-size: 24px; }
        .home_main .home_m .home_main_1 .main_1_con p {
          font-size: 18px;
          padding: 6px; }
    .home_main .home_m .home_main_2 {
      position: relative;
      width: 670px;
      height: 580px;
      float: left;
      overflow: hidden; }
      .home_main .home_m .home_main_2 .img02 {
        height: 500px;
        position: absolute;
        left: -200px;
        top: -100px; }
      .home_main .home_m .home_main_2 .main_2_con {
        position: absolute;
        top: 30px;
        left: 200px;
        color: #000;
        text-align: center; }
        .home_main .home_m .home_main_2 .main_2_con h2 {
          font-size: 24px; }
        .home_main .home_m .home_main_2 .main_2_con p {
          font-size: 18px;
          padding: 6px; }
  .home_main .home_main_3 {
    margin-top: 8px;
    height: 580px;
    position: relative;
    overflow: hidden; }
    .home_main .home_main_3 .img03 {
      position: absolute;
      left: -500px;
      height: 580px; }
    .home_main .home_main_3 .main_3_con {
      position: absolute;
      left: 120px;
      top: 120px;
      color: #000; }
      .home_main .home_main_3 .main_3_con div {
        font-size: 40px;
        padding: 20px 0;
        font-weight: bold; }
      .home_main .home_main_3 .main_3_con h2 {
        font-size: 30px;
        font-weight: bold; }
      .home_main .home_main_3 .main_3_con p {
        color: #999;
        font-size: 18px;
        line-height: 40px; }
      .home_main .home_main_3 .main_3_con a {
        color: #000; }
        .home_main .home_main_3 .main_3_con a span {
          display: inline-block;
          margin-top: 40px;
          padding-right: 20px; }
  .home_main .home_main_4 {
    margin-top: 8px;
    height: 580px;
    position: relative;
    overflow: hidden; }
    .home_main .home_main_4 .img04 {
      position: absolute;
      left: -500px;
      height: 580px; }
    .home_main .home_main_4 .main_4_con {
      position: absolute;
      left: 100px;
      top: 150px;
      color: white; }
      .home_main .home_main_4 .main_4_con h2 {
        font-size: 30px; }
      .home_main .home_main_4 .main_4_con p {
        font-size: 18px;
        line-height: 40px; }
      .home_main .home_main_4 .main_4_con a {
        color: white; }
        .home_main .home_main_4 .main_4_con a span {
          display: inline-block;
          margin-top: 40px;
          padding-right: 20px; }
  .home_main .home_main_5 {
    margin-top: 8px;
    height: 410px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0; }
    .home_main .home_main_5 div {
      position: relative;
      width: 340px;
      height: 400px;
      overflow: hidden; }
    .home_main .home_main_5 .main_51 {
      background: url(../images/home/main_51.jpg);
      background-position: center;
      background-size: cover; }
      .home_main .home_main_5 .main_51 .main_5_con1 {
        position: absolute;
        top: 30px;
        left: 0px;
        color: #000;
        text-align: center; }
        .home_main .home_main_5 .main_51 .main_5_con1 h2 {
          font-size: 24px; }
        .home_main .home_main_5 .main_51 .main_5_con1 p {
          font-size: 18px;
          padding: 6px; }
    .home_main .home_main_5 .main_52 {
      background: url(../images/home/main_52.png);
      background-position: center;
      background-size: cover; }
      .home_main .home_main_5 .main_52 .main_5_con2 {
        position: absolute;
        top: 30px;
        left: 0px;
        color: white;
        text-align: center; }
        .home_main .home_main_5 .main_52 .main_5_con2 h2 {
          font-size: 24px; }
        .home_main .home_main_5 .main_52 .main_5_con2 p {
          font-size: 18px;
          padding: 6px; }
    .home_main .home_main_5 .main_53 {
      background: url(../images/home/main_53.png);
      background-position: center;
      background-size: cover; }
      .home_main .home_main_5 .main_53 .main_5_con3 {
        position: absolute;
        top: 30px;
        left: 0px;
        color: white;
        text-align: center; }
        .home_main .home_main_5 .main_53 .main_5_con3 h2 {
          font-size: 24px; }
        .home_main .home_main_5 .main_53 .main_5_con3 p {
          font-size: 18px;
          padding: 6px; }
    .home_main .home_main_5 .main_54 {
      background: url(../images/home/main_54.jpg);
      background-position: center;
      background-size: cover; }
      .home_main .home_main_5 .main_54 .main_5_con4 {
        position: absolute;
        top: 30px;
        left: 0px;
        color: white;
        text-align: center; }
        .home_main .home_main_5 .main_54 .main_5_con4 h2 {
          font-size: 24px; }
        .home_main .home_main_5 .main_54 .main_5_con4 p {
          font-size: 18px;
          padding: 6px; }

.backTop {
  display: none;
  background: #ccc;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 10px; }
  .backTop div {
    width: 74px;
    height: 74px;
    text-align: center; }
    .backTop div .icon-xiangshang {
      color: #999;
      line-height: 74px;
      font-size: 60px; }
