body {
  background: #000; }

.nex_top {
  height: 61px;
  width: 100%;
  line-height: 61px;
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: space-between;
  background: #000;
  border-bottom: 1px solid #333;
  z-index: 0; }
  .nex_top .nex_name {
    font-size: 30px;
    color: #fff;
    padding-left: 80px; }
  .nex_top strong {
    font-size: 14px;
    color: #fff;
    padding-right: 20px; }
  .nex_top a span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 4px 8px;
    background: blue;
    border-radius: 11px;
    margin-right: 80px; }

.nex_main {
  margin-top: 130px; }
  .nex_main .nex_img1 {
    text-align: center;
    color: white;
    height: 700px;
    overflow: hidden;
    background: url("../images/nex/nex1.jpg") #000; }
    .nex_main .nex_img1 .img1_con h2 {
      margin-top: 40px;
      font-size: 40px; }
    .nex_main .nex_img1 .img1_con p {
      font-size: 20px;
      line-height: 40px; }
    .nex_main .nex_img1 .img1_con span {
      display: inline-block;
      padding: 8px 14px;
      font-size: 16px;
      margin: 20px 40px 0 40px;
      border-radius: 20px;
      border: 1px solid #fff; }
  .nex_main .nex_img2 {
    height: 700px;
    overflow: hidden;
    background: url("../images/nex/nex2.jpg");
    background-size: auto 700px;
    position: relative; }
    .nex_main .nex_img2 .img2_con {
      position: absolute;
      color: #fff;
      text-align: center;
      top: 700px;
      left: 300px; }
      .nex_main .nex_img2 .img2_con h2 {
        margin-top: 40px;
        font-size: 40px;
        color: blue;
        font-weight: bold; }
      .nex_main .nex_img2 .img2_con h3 {
        margin-top: 20px;
        font-size: 40px;
        font-weight: bold; }
      .nex_main .nex_img2 .img2_con p {
        margin: 0 auto;
        width: 800px;
        font-size: 18px;
        line-height: 30px; }
      .nex_main .nex_img2 .img2_con i {
        color: #999; }
      .nex_main .nex_img2 .img2_con span a {
        display: inline-block;
        padding: 8px 14px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin: 20px 40px 0 40px;
        border-radius: 20px;
        border: 2px solid #fff; }
  .nex_main .nex_img3 {
    height: 1250px;
    overflow: hidden;
    position: relative;
    background: #000; }
    .nex_main .nex_img3 .img3 {
      position: relative;
      margin-left: -50px;
      height: 700px; }
      .nex_main .nex_img3 .img3 .nex3_i1 {
        height: 700px;
        margin: 0 auto;
        position: absolute;
        left: 0px;
        top: 0px; }
    .nex_main .nex_img3 .nex3_i2 {
      height: 240px;
      width: 790px;
      display: none;
      position: absolute;
      left: 300px;
      top: 950px; }
    .nex_main .nex_img3 .img3_con {
      position: absolute;
      left: 580px;
      top: 60px;
      text-align: center; }
      .nex_main .nex_img3 .img3_con h2 {
        margin-top: 40px;
        font-size: 30px;
        color: blue;
        font-weight: bold; }
      .nex_main .nex_img3 .img3_con h3 {
        color: #fff;
        margin-top: 20px;
        font-size: 30px;
        font-weight: bold; }
    .nex_main .nex_img3 .img3_con2 {
      position: absolute;
      color: #fff;
      text-align: center;
      top: 1050px;
      left: 200px; }
      .nex_main .nex_img3 .img3_con2 p {
        margin: 0 auto;
        width: 900px;
        font-size: 18px;
        line-height: 30px; }
      .nex_main .nex_img3 .img3_con2 i {
        color: #999; }
      .nex_main .nex_img3 .img3_con2 span a {
        display: inline-block;
        padding: 8px 14px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin: 20px 40px 0 40px;
        border-radius: 20px;
        border: 2px solid #fff; }
  .nex_main .nex_img4 {
    height: 700px;
    width: 100%;
    overflow: hidden;
    background: #000;
    position: relative;
    position: relative; }
    .nex_main .nex_img4 .nex4_i1 {
      opacity: 0.5;
      right: 100px;
      top: 100px;
      height: 500px;
      position: absolute; }
    .nex_main .nex_img4 .img4_con {
      position: absolute;
      color: #fff;
      text-align: left;
      top: 100px;
      left: 100px;
      width: 600px;
      opacity: 0.6; }
      .nex_main .nex_img4 .img4_con h2 {
        margin-top: 40px;
        font-size: 40px;
        color: blue;
        font-weight: bold;
        width: 260px; }
      .nex_main .nex_img4 .img4_con h3 {
        margin-top: 20px;
        font-size: 40px;
        font-weight: bold; }
      .nex_main .nex_img4 .img4_con p {
        margin: 20px 0;
        width: 500px;
        font-size: 18px;
        line-height: 30px; }
      .nex_main .nex_img4 .img4_con i {
        color: #999; }
  .nex_main .nex_img5 {
    height: 800px;
    overflow: hidden;
    position: relative; }
    .nex_main .nex_img5 .img5 {
      position: relative;
      height: 500px;
      z-index: 1; }
      .nex_main .nex_img5 .img5 .nex5_i1 {
        height: 500px;
        position: absolute;
        left: 200px;
        top: 200px;
        z-index: -1; }
    .nex_main .nex_img5 .img5_con {
      position: absolute;
      color: #333;
      text-align: left;
      top: 0;
      left: 200px;
      width: 600px; }
      .nex_main .nex_img5 .img5_con h2 {
        margin-top: 10px;
        font-size: 40px;
        color: blue;
        font-weight: bold; }
      .nex_main .nex_img5 .img5_con h3 {
        font-size: 40px;
        font-weight: bold; }
      .nex_main .nex_img5 .img5_con p {
        color: #666;
        font-weight: bold;
        text-align: left;
        margin: 10px 0;
        width: 900px;
        font-size: 16px;
        line-height: 24px; }
  .nex_main .nex_img6 {
    height: 900px;
    overflow: hidden;
    background: #fff;
    position: relative; }
    .nex_main .nex_img6 .nex6_i1 {
      height: 550px;
      position: absolute;
      bottom: 0px;
      left: 340px;
      z-index: 1; }
    .nex_main .nex_img6 .nex6_i2 {
      position: absolute;
      top: 350px;
      left: 590px; }
    .nex_main .nex_img6 .img6_con {
      position: absolute;
      color: #333;
      text-align: center;
      top: 30px;
      left: 250px;
      width: 900px; }
      .nex_main .nex_img6 .img6_con h2 {
        margin-top: 10px;
        font-size: 40px;
        color: blue;
        font-weight: bold; }
      .nex_main .nex_img6 .img6_con h3 {
        font-size: 40px;
        font-weight: bold; }
      .nex_main .nex_img6 .img6_con p {
        color: #666;
        font-weight: bold;
        margin: 10px 0;
        font-size: 16px;
        line-height: 24px; }
  .nex_main .nex_img7 {
    height: 850px;
    overflow: hidden;
    background: #000;
    position: relative; }
    .nex_main .nex_img7 .nex7_i1 {
      opacity: 0;
      position: absolute;
      left: 400px;
      top: 300px;
      height: 550px; }
    .nex_main .nex_img7 .img7_con {
      position: absolute;
      color: #fff;
      text-align: left;
      top: 100px;
      left: 200px;
      width: 800px; }
      .nex_main .nex_img7 .img7_con h2 {
        margin-top: 10px;
        font-size: 40px;
        color: blue;
        font-weight: bold; }
      .nex_main .nex_img7 .img7_con h3 {
        font-size: 40px;
        font-weight: bold; }
      .nex_main .nex_img7 .img7_con p {
        padding: 10px 0;
        font-size: 18px;
        line-height: 30px; }
      .nex_main .nex_img7 .img7_con i {
        line-height: 20px;
        color: #999; }
      .nex_main .nex_img7 .img7_con span a {
        display: inline-block;
        padding: 8px 14px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin: 40px 0px 0 0px;
        border-radius: 20px;
        border: 2px solid #fff; }
  .nex_main .nex_img8 {
    height: 1000px;
    overflow: hidden;
    background: #fff;
    position: relative; }
    .nex_main .nex_img8 .nex8_v1 {
      position: absolute;
      left: 200px;
      top: 280px;
      height: 550px; }
    .nex_main .nex_img8 .img8_con {
      position: absolute;
      color: #000;
      text-align: left;
      top: 20px;
      left: 200px;
      width: 800px; }
      .nex_main .nex_img8 .img8_con h2 {
        margin-top: 10px;
        font-size: 40px;
        color: blue;
        font-weight: bold; }
      .nex_main .nex_img8 .img8_con h3 {
        font-size: 40px;
        font-weight: bold; }
      .nex_main .nex_img8 .img8_con p {
        padding: 10px 0;
        font-size: 18px;
        line-height: 30px; }
      .nex_main .nex_img8 .img8_con i {
        line-height: 20px;
        color: #999; }
      .nex_main .nex_img8 .img8_con span a {
        display: inline-block;
        padding: 8px 14px;
        color: #000;
        font-weight: bold;
        font-size: 16px;
        margin: 40px 0px 0 0px;
        border-radius: 20px;
        border: 2px solid #fff; }
  .nex_main .nex_img9 {
    height: 1200px;
    width: 100%;
    overflow: hidden;
    background: #fff;
    position: relative; }
    .nex_main .nex_img9 .img9_con {
      position: absolute;
      color: #000;
      text-align: left;
      top: 20px;
      left: 200px;
      width: 500px; }
      .nex_main .nex_img9 .img9_con h2 {
        margin-top: 10px;
        font-size: 40px;
        color: blue;
        font-weight: bold; }
      .nex_main .nex_img9 .img9_con h3 {
        font-size: 40px;
        font-weight: bold; }
      .nex_main .nex_img9 .img9_con p {
        padding: 10px 0;
        font-size: 18px;
        line-height: 30px; }
      .nex_main .nex_img9 .img9_con span a {
        display: inline-block;
        padding: 8px 14px;
        color: #000;
        font-weight: bold;
        font-size: 16px;
        margin: 40px 0px 0 0px;
        border-radius: 20px;
        border: 2px solid #fff; }
    .nex_main .nex_img9 .img9 {
      position: absolute;
      top: 0;
      right: 200px; }
      .nex_main .nex_img9 .img9 .nex9_1 {
        width: 250px;
        position: absolute;
        right: 50px;
        top: 0; }
      .nex_main .nex_img9 .img9 .nex9_mask {
        width: 250px;
        position: absolute;
        right: 50px;
        top: 0; }
      .nex_main .nex_img9 .img9 ._line {
        display: none;
        position: absolute;
        top: -50px;
        right: 100px; }
  .nex_main .nex_img10 {
    height: 900px;
    overflow: hidden;
    position: relative; }
    .nex_main .nex_img10 .nex10_i1 {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 900px; }
    .nex_main .nex_img10 .mask {
      position: absolute;
      top: 0;
      width: 100%;
      height: 900px;
      z-index: 2;
      background: rgba(0, 0, 0, 0.8); }
    .nex_main .nex_img10 .img10_con {
      position: absolute;
      color: #fff;
      text-align: left;
      top: 650px;
      left: 200px;
      width: 400px;
      z-index: 1; }
      .nex_main .nex_img10 .img10_con h2 {
        margin-top: 10px;
        font-size: 40px;
        color: blue;
        font-weight: bold; }
      .nex_main .nex_img10 .img10_con h3 {
        font-size: 40px;
        font-weight: bold; }
      .nex_main .nex_img10 .img10_con p {
        padding: 10px 0;
        font-size: 18px;
        line-height: 30px; }

.s_serve {
  width: 100%;
  height: 340px;
  background-color: #fff; }
  .s_serve ul {
    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;
    width: 1200px;
    height: 340px;
    overflow: hidden; }
    .s_serve ul li {
      float: left;
      width: 400px;
      height: 259px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center; }
      .s_serve ul li .iconfont {
        margin: 30px auto;
        font-size: 60px;
        color: #999; }
      .s_serve ul li p {
        font-size: 18px;
        color: #999; }
      .s_serve ul li h6 {
        height: 18px;
        font-size: 14px;
        margin: 20px auto 0;
        color: #666; }
      .s_serve ul li h5 {
        height: 18px;
        font-size: 14px;
        margin: 0 auto;
        color: #666; }
      .s_serve ul li a {
        height: 24px;
        margin: 20px auto 0;
        color: blue; }
      .s_serve ul li span {
        width: 10px;
        height: 1px;
        background-color: blue;
        margin: 0 auto; }
