#top {
  height: 68px;
  background-color: blue; }

.content {
  width: 1200px;
  margin: 0 auto; }

.show {
  display: block; }

.active {
  color: red; }

#main {
  background-color: #f7f7f5;
  padding-bottom: 30px;
  padding-top: 150px; }
  #main .main-top {
    height: 72px; }
    #main .main-top a {
      font-size: 14px;
      color: #333;
      line-height: 72px;
      margin-right: 5px;
      margin-top: 20px; }
  #main .main-wrap .m-meun {
    float: left;
    margin: 0 15px 0 0;
    background-color: #fff;
    width: 200px; }
    #main .main-wrap .m-meun img {
      width: 142px;
      height: 142px;
      border-radius: 50%;
      margin: 28px 28px 0 28px; }
    #main .main-wrap .m-meun li {
      text-align: center;
      margin: 12px 0; }
    #main .main-wrap .m-meun ul .buns-number {
      color: red; }
    #main .main-wrap .m-meun dl {
      margin-bottom: 70px; }
      #main .main-wrap .m-meun dl dt {
        font-size: 16px;
        color: #000;
        margin: 28px 0 10px 0;
        padding-left: 64px; }
      #main .main-wrap .m-meun dl dd {
        padding: 4px 0;
        margin: 2px 0; }
        #main .main-wrap .m-meun dl dd:hover {
          background: pink;
          color: red; }
        #main .main-wrap .m-meun dl dd a {
          padding: 1px 0 2px 64px;
          color: #888;
          font-size: 14px; }
  #main .main-wrap .m-con {
    float: left;
    padding: 0 30px 30px;
    width: 925px;
    min-height: 952px;
    background-color: #fff; }
    #main .main-wrap .m-con h2 {
      text-align: center;
      padding: 35px 0;
      font-size: 20px; }
    #main .main-wrap .m-con ul {
      padding-left: 20px;
      margin: 36px 0; }
      #main .main-wrap .m-con ul li {
        float: left;
        margin-right: 60px;
        padding-bottom: 12px;
        color: #666;
        font-size: 16px;
        cursor: pointer; }
    #main .main-wrap .m-con .no-roder {
      padding: 150px 0;
      text-align: center;
      font-size: 16px;
      color: #888; }
      #main .main-wrap .m-con .no-roder .noder-img {
        margin-bottom: 12px; }
    #main .main-wrap .m-con .collect {
      border: 1px solid #ccc;
      margin-top: 30px;
      min-width: 900px;
      text-align: center;
      position: relative; }
      #main .main-wrap .m-con .collect thead tr th {
        color: #888;
        font-size: 16px;
        height: 50px;
        font-weight: bold; }
      #main .main-wrap .m-con .collect tbody tr .name {
        cursor: pointer; }
      #main .main-wrap .m-con .collect tbody tr .price {
        color: red;
        font-weight: bold; }
      #main .main-wrap .m-con .collect .option {
        position: relative; }
        #main .main-wrap .m-con .collect .option .goby {
          border: 1px solid blue;
          color: blue;
          font-size: 14px;
          text-align: center;
          padding: 0 15px;
          cursor: pointer; }
        #main .main-wrap .m-con .collect .option .delete {
          color: blue;
          font-size: 14px;
          padding: 6px 15px;
          cursor: pointer; }
    #main .main-wrap .m-con .addAdress {
      min-height: 150px;
      min-width: 800px; }
      #main .main-wrap .m-con .addAdress .addNew {
        border: 1px solid #ccc;
        width: 300px;
        height: 150px;
        text-align: center;
        padding-top: 40px;
        box-sizing: border-box;
        cursor: pointer; }
        #main .main-wrap .m-con .addAdress .addNew p {
          margin: 0 auto;
          background: #ccc;
          color: #fff;
          width: 30px;
          height: 30px;
          font-size: 20px;
          line-height: 30px;
          border-radius: 50%;
          margin-bottom: 10px; }
        #main .main-wrap .m-con .addAdress .addNew span {
          font-size: 14px;
          color: #ccc; }

.collect-remove {
  position: absolute;
  top: 200px;
  right: 120px;
  width: 170px;
  height: 100px;
  border: 1px solid blue;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: none; }
  .collect-remove h3 {
    font-size: 14px;
    margin-bottom: 20px; }
  .collect-remove .confirm {
    cursor: pointer;
    padding: 5px 18px; }
    .collect-remove .confirm:hover {
      color: #fff;
      background: #00a0e9; }
  .collect-remove .off {
    cursor: pointer;
    padding: 5px 18px; }
    .collect-remove .off:hover {
      color: #fff;
      background: #00a0e9; }

.spanFont {
  color: #ccc;
  font-size: 14px; }
