// @mixin phones{
//     display: none;
//     width:100%;
//     position: fixed;
//     top:0px;
//     left:0;
//     height:384px;
//     background:rgba(255,255,255,0.95);
//     z-index: -1;
//     ._list{
//         margin-left:150px;
//         margin-top:96px;
//         float: left;
//         display: flex;
//         justify-content: space-around;
//         text-align: center;
//         li{
//             position: relative;
//             width:100px;
//             height:194px;
//             padding:0 40px;
//             text-align: center;
//             img{
//                 position: absolute;
//                 left:80px;
//                 top:10px;
//             }
//             .phone_img1{
//                 left:60px;
//             }
//             p{
//                 line-height:18px;
//                 margin-top:200px;
//                 color:#999;
//                 font-size:16px;
//             }
//             span{
//                 padding-top:10px;
//                 line-height:16px;
//                 display:block;
//                 color:#415FFF;
//                 font-size:12px;
//             }
//         }
//     }
//     .home_compl{
//         float: left;
//         margin:128px 0 0 0;
//         div{
//             text-align: center;
//             color:#333;
//             line-height:30px;
//             padding:10px 30px;
//             margin-bottom:15px;
//             border-radius: 26px;
//             background:#F1F1F1;
//             font-size:14px;
//             .icon-cedaohang-mokuai,.icon-shouji{
//                 line-height:30px;
//                 font-size:30px;
//             }
//         }
//         div:hover{
//             background:#415FFF;
//             color:white;
//         }
//     }
// }
// .home_header{
//     position: relative;
//     overflow: hidden;
//     .home_top{
//         width:100%;
//         background:#333;
//         display: flex;
//         justify-content: space-between;
//         ul{
//             display: flex;
//             justify-content: flex-start;            
//         }
//         ul li {
//             height:32px;
//             a{
//                 line-height:32px;
//                 text-align: center;
//                 color:#ccc;
//             }
//             a:hover{
//                 color:#999;
//             }
//         }
//         .home_top_r{
//             margin-right:48px;
//             .home_goods{
//                 margin-right:42px;
//             }
//             .home_login{
//                 margin-right:18px;
                
//             }
//             .home_rest{
//                 margin-left:18px;
//             }
//             span{
//                 margin-top:7px;
//                 color:#999;
//             }
//         }
//         .home_top_l{
//             margin-left:48px;
//             li{
//                 margin-right:42px;
//             }
//         }
//     }
// }
// .home_guide{
//         padding:0 80px;
//         position:absolute;
//         left:0px;
//         top:32px;
//         z-index: 1;
//         .home_nav{
//             // position: relative;
//             height:68px;
//             line-height: 68px;
//             display: flex;
//             justify-content: space-between;
//             .home_logo .icon-VIVO{
//                 font-size:26px;
//                 font-weight: bold;
//                 color:white;
//                 margin-right:80px;
//             }
//             .home_phones{
//                 display: flex;
//                 justify-content: space-between;
//                 margin-right:20px;
//                 li{
//                     padding:0 22px;
//                     a{
//                         font-size:16px;
//                         color:white;
//                         line-height:68px;
//                         font-weight: 500;
//                     }
//                     // .phone_iQOO,.phone_NEX,.phone_X,.phone_S,.phone_Z,.phone_Y,.phone_U,.phone_ear
//                     .phone_to{
//                         @include phones
//                     }
//                 }
//             }
//             .home_search{
//                 height:68px;
//                 width:68px;
//                 text-align: center;
//                 .icon-magnifier{
//                     line-height:68px;
//                     font-size:22px;
//                     color:#ccc;
//                 }
//             }
//         }
// }
// .h_search{
//     display: none;
//     width:100%;
//     position: absolute;
//     top:32px;
//     min-height: 350px;
//     background:white;
    
//     .icon-VIVO{
//         float: left;
//         margin-left:80px;
//         font-size:26px;
//         font-weight: bold;
//         color:#000;
//         margin-right:100px;
//         padding:20px 0 27px 0;
//     }
//     .h_sch{
//         float: left;
//         .sch{
//             position: relative;
//             padding:20px 0 19px 0;
//             .h_ipt{
//                 display: block;
//                 width:680px;
//                 height:50px;
//                 padding:0 90px 0 20px;
//                 border-bottom:1px solid #eee;
//             }
//             .icon-magnifier{
//                 position: absolute;
//                 right:50px;
//                 color:#999;
//                 top:24px;
//                 font-size:26px;
//                 font-weight: bold;
//             }   
//             .cha{
//                 position: absolute;
//                 color:#999;
//                 right:10px;
//                 top:10px;
//                 font-size: 40px;
//             }
//         }
//         .sch_lish{
//             width:680px;
//             li{
//                 line-height:40px;
//                 height:40px;
//                 padding:10px 44px;
//                 color:#666;
//                 font-size:15px;
//             }
//             li:hover{
//                 background:#F2F2F2;
//                 color:#BDC6F6;
//                 cursor: pointer;
//             }
//         }
//         p{
//             width:680px;
//             height:36px;
//             padding:24px 0 0 20px;
//             color:#999;
//         }
//     }
// }
.home_banner{
    margin:0 auto;
    widows: 1366px;
    height:620px;
    overflow: hidden;
    background:url(../images/home/home_banner.jpg) no-repeat;
    background-position: -600px 0;
    position: relative;
    .banner_con{
        position: absolute;
        left:100px;
        top:150px;
        color:white;
        h2{
            font-size:30px;
        }
        p{
            font-size:18px;
            line-height: 40px;
        }
        a{
            color:white;
            span{
                display: inline-block;
                margin-top:40px;
                padding-right:20px;
            }
        }
    }
}


.home_main{
    // z-index: -1;
    margin-top:10px;
    position: relative;
    overflow: hidden;

    .home_m{
        height:400px;
        overflow: hidden;
        // img{
        //     width:1200px;
        // }
        .home_main_1{
            position: relative;
            float: left;
            width:670px;
            height:580px;
            margin-right:6px;
            overflow: hidden;
            background:url(../images/home/home_main02.png) no-repeat;
            background-position:center -50px;
            background-size:1080px auto;
            // .img01{
            //     position: absolute;
            //     left:-200px;
            //     top:-100px;                             
            // }
            .main_1_con{
                position: absolute;
                top:30px;
                left:200px;
                color:#000;
                text-align: center;
                h2{
                    font-size:24px;
                }
                p{
                    font-size: 18px;
                    padding:6px;
                }
            }
        }
        .home_main_2{
            position: relative;
            width:670px;
            height:580px;
            float: left;
            overflow: hidden;
            background:url(../images/home/home_main01.png) no-repeat;
            background-position:center -50px;
            background-size:1080px auto;
            // .img02{
            //     position: absolute;
            //     left:-200px;
            //     top:-100px;
            // }
            .main_2_con{
                position: absolute;
                top:30px;
                left:200px;
                color:#000;
                text-align: center;
                h2{
                    font-size:24px;
                }
                p{
                    font-size: 18px;
                    padding:6px;
                }
            }
        }
    }

    .home_main_3{
        margin-top:8px;
        height:580px;
        position: relative;
        overflow: hidden;
        .img03{
            position: absolute;
            left:-500px;
            height:580px;
        }
        .main_3_con{
            position: absolute;
            left:120px;
            top:120px;
            color:#000;
            div{
                font-size: 40px;
                padding:20px 0;
                font-weight: bold;
            }
            h2{
                font-size:30px;
                font-weight: bold;
            }
            p{
                color:#999;
                font-size:18px;
                line-height: 40px;
            }
            a{
                color:#000;
                span{
                    display: inline-block;
                    margin-top:40px;
                    padding-right:20px;
                }
            }
        }
    }
    .home_main_4{
        margin-top:8px;
        height:580px;
        position: relative;
        overflow: hidden;
        .img04{
            position: absolute;
            left:-500px;
            height:580px;
        }
        .main_4_con{
            position: absolute;
            left:100px;
            top:150px;
            color:white;
            h2{
                font-size:30px;
            }
            p{
                font-size:18px;
                line-height: 40px;
            }
            a{
                color:white;
                span{
                    display: inline-block;
                    margin-top:40px;
                    padding-right:20px;
                }
            }
        }
    }
    .home_main_5{
        margin-top:8px;
        height:410px;
        width:100%;
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 0;
        // img{           
        //     height:380px;
        // }
        div{
            position: relative;
            width:340px;
            height:400px;
            overflow: hidden;
        }
        .main_51{
            background:url(../images/home/main_51.jpg);
            background-position:center;
            background-size: cover;
            // .pic51{
            //     position: absolute;
            //     left:-100px;
            //     top:0;
            // }
            .main_5_con1{
                position: absolute;
                top:30px;
                left:0px;
                color:#000;
                text-align: center;
                h2{
                    font-size:24px;
                }
                p{
                    font-size: 18px;
                    padding:6px;
                }
            }
        }
        .main_52{
            background:url(../images/home/main_52.png);
            background-position:center;
            background-size: cover;
            // .pic52{
            //     position: absolute;
            //     left:-100px;
            //     top:0;
            // }
            .main_5_con2{
                position: absolute;
                top:30px;
                left:0px;
                color:white;
                text-align: center;
                h2{
                    font-size:24px;
                }
                p{
                    font-size: 18px;
                    padding:6px;
                }
            }
        }
        .main_53{
            background:url(../images/home/main_53.png);
            background-position:center;
            background-size: cover;
            // .pic53{
            //     position: absolute;
            //     left:-100px;
            //     top:0;
            // }
            .main_5_con3{
                position: absolute;
                top:30px;
                left:0px;
                color:white;
                text-align: center;
                h2{
                    font-size:24px;
                }
                p{
                    font-size: 18px;
                    padding:6px;
                }
            }
        }
        .main_54{
            background:url(../images/home/main_54.jpg);
            background-position:center;
            background-size: cover;
            // .pic54{
            //     position: absolute;
            //     left:-100px;
            //     top:0;
            // }
            .main_5_con4{
                position: absolute;
                top:30px;
                left:0px;
                color:white;
                text-align: center;
                h2{
                    font-size:24px;
                }
                p{
                    font-size: 18px;
                    padding:6px;
                }
            }
        }
    }
}

// .home_footer{
//     width:100%;
//     padding-top:80px;
//     background:#F7F7F7;
//     .contain_inner{
//         margin:0 auto;
//         width:1200px;
//         display: flex;
//         justify-content: space-between;
//         .home_footer_l{
//             background:#f7f7f7;
//             .footer_l{
//                 float: left;
//                 width:180px;
//                 padding-left:10px;
//                 h3{
//                     font-size:16px;
//                     color:#333;
//                     padding-bottom:40px;
//                 }
//                 li{
//                     margin-bottom:18px;
//                     a{
//                         font-size:14px;
//                         color:#999;
//                     }
//                 }
//             }
//         }
//         .home_footer_r{
//             width:180px;
//             &>a{
//                 display: block;
//                 font-size:20px;
//                 color:#333;
//                 margin-bottom:20px;
//             }
//             .icon-duanxin1{
//                 margin-right:10px;
//             }
//             span{
//                 font-size:24px;
//                 color:#415FFF;
//             }
//             p,div{
//                 font-size:14px;
//                 color:#333;
//                 padding:0 0 10px;
//             }
//             div{
//                 margin-top:40px;
//             }
//             a .iconfont{
//                 font-size:20px;
//                 margin-left:16px;
//                 font-weight: bold;
//             }
//         }
//     }
//     .foot{
//         border-top:1px solid #999;
//         background:#F7F7F7;
//         text-align: center;
//         padding:30px;
//         margin-top:74px;
//     }
// }
.backTop{
    display: none;
    background:#ccc;
    position: fixed;
    bottom:50px;
    right:50px;
    border-radius:10px;
    div{
        width:74px;
        height:74px;
        text-align: center;
        .icon-xiangshang{
            color:#999;
            line-height: 74px;
            font-size: 60px;
        }
    }
}
