body{
    background:#000;
}
.nex_top{
    // padding-top:80px;
    height:61px;
    width:100%;
    line-height: 61px;
    position: absolute;
    top:100px;
    display: flex;
    justify-content: space-between;
    background:#000;
    border-bottom: 1px solid #333;
    z-index: 0;
    .nex_name{
        font-size: 30px;
        color:#fff;
        padding-left:80px;
    }
    strong{
        font-size: 14px;
        color:#fff;
        padding-right:20px;
    }
    a span{
        display: inline-block;
        color:#fff;
        font-size: 14px;
        padding:4px 8px;
        background:blue;
        border-radius: 11px;
        margin-right:80px;
    }
}
.nex_main{
    margin-top:130px;
    .nex_img1{
        text-align: center;
        color:white;
        height:700px;
        overflow: hidden;
        background:url('../images/nex/nex1.jpg') #000;
        .img1_con{
            h2{
                margin-top:40px;
                font-size:40px;
            }
            p{
                font-size:20px;
                line-height: 40px;
            }
            span{
                display: inline-block;
                padding:8px 14px;
                font-size:16px; 
                margin:20px 40px 0 40px;
                border-radius: 20px;
                border:1px solid #fff;
            }
        }
    }
    .nex_img2{
        height:700px;
        overflow: hidden;
        background:url('../images/nex/nex2.jpg') ;
        background-size: auto 700px ;
        position: relative;
        .img2_con{
            position: absolute;
            color:#fff;
            text-align: center;
            top:700px;
            left:300px;
            h2{
                margin-top:40px;
                font-size:40px;
                color:blue;
                font-weight: bold;
            }
            h3{
                margin-top:20px;
                font-size:40px;
                font-weight: bold;
            }
            p{
                margin:0 auto;
                width:800px;
                font-size:18px;
                line-height: 30px;
            }
            i{
                color:#999;
            }
            span a{
                display: inline-block;
                padding:8px 14px;
                color:#fff;
                font-weight: bold;
                font-size:16px; 
                margin:20px 40px 0 40px;
                border-radius: 20px;
                border:2px solid #fff;
            }
        }

    }
    .nex_img3{
        height:1250px;
        overflow: hidden;
        position: relative;
        background:#000;
        .img3{
            position: relative;
            margin-left:-50px;
            height:700px;
            .nex3_i1{
                height:700px;
                margin:0 auto;
                position: absolute;
                left:0px;
                top:0px;
            }
        }
        .nex3_i2{
            height:240px;
            width:790px;
            display: none;
            position: absolute;
            left:300px;
            top:950px;
        }
        // background-position:center;
        // background-size: auto 700px;
        .img3_con{
            position: absolute;
            left:580px;
            top:60px;
            text-align: center;
            h2{
                margin-top:40px;
                font-size:30px;
                color:blue;
                font-weight: bold;
            }
            h3{
                color:#fff;
                margin-top:20px;
                font-size:30px;
                font-weight: bold;
            }

        }
        .img3_con2{
            position: absolute;
            color:#fff;
            text-align: center;
            top:1050px;
            left:200px;
            p{
                margin:0 auto;
                width:900px;
                font-size:18px;
                line-height: 30px;
            }
            i{
                color:#999;
            }
            span a{
                display: inline-block;
                padding:8px 14px;
                color:#fff;
                font-weight: bold;
                font-size:16px; 
                margin:20px 40px 0 40px;
                border-radius: 20px;
                border:2px solid #fff;
            }
        }

    }
    .nex_img4{
        height:700px;
        width:100%;
        overflow: hidden;
        background:#000;
        position: relative;
        .nex4_i1{
            opacity: 0.5;
            right:100px;
            top:100px;
            height:500px;
            position: absolute;
        }
        position: relative;
        .img4_con{
            position: absolute;
            color:#fff;
            text-align: left;
            top:100px;
            left:100px;
            width:600px;
            opacity: 0.6;
            h2{
                margin-top:40px;
                font-size:40px;
                color:blue;
                font-weight: bold;
                width:260px;
            }
            h3{
                margin-top:20px;
                font-size:40px;
                font-weight: bold;
            }
            p{
                margin:20px 0;
                width:500px;
                font-size:18px;
                line-height: 30px;
            }
            i{
                color:#999;
            }
        }
    }
    .nex_img5{
        height:800px;
        overflow: hidden;
        position: relative;
        // background:#000;
        .img5{
            position: relative;
            height:500px;
            z-index: 1;
            .nex5_i1{
                height:500px;
                position: absolute;
                left:200px;
                top:200px;
                z-index: -1;
            }
        }
        .img5_con{
            position: absolute;
            color:#333;
            text-align: left;
            top:0;
            left:200px;
            width:600px;
            h2{
                margin-top:10px;
                font-size:40px;
                color:blue;
                font-weight: bold;
            }
            h3{              
                font-size:40px;
                font-weight: bold;
            }
            p{
                color:#666;
                font-weight: bold;
                text-align: left;
                margin:10px 0;
                width:900px;
                font-size:16px;
                line-height: 24px;
            }
        }
    }
    .nex_img6{
        height:900px;
        overflow: hidden;
        background:#fff;
        position: relative;
        .nex6_i1{
            height:550px;
            position: absolute;
            bottom:0px;
            left:340px;
            z-index: 1;
        }
        .nex6_i2{
            position: absolute;
            top:350px;
            left:590px;
        }
        .img6_con{
            position: absolute;
            color:#333;
            text-align: center;
            top:30px;
            left:250px;
            width:900px;
            h2{
                margin-top:10px;
                font-size:40px;
                color:blue;
                font-weight: bold;
            }
            h3{              
                font-size:40px;
                font-weight: bold;
            }
            p{
                color:#666;
                font-weight: bold;
                margin:10px 0;
                font-size:16px;
                line-height: 24px;
            }
        }

    }
    .nex_img7{
        height:850px;
        overflow: hidden;
        background:#000;
        position: relative;
        .nex7_i1{
            opacity:0;
            position: absolute;
            left:400px;
            top:300px;
            height:550px;
        }
        .img7_con{
            position: absolute;
            color:#fff;
            text-align: left;
            top:100px;
            left:200px;
            width: 800px;
            h2{
                margin-top:10px;
                font-size:40px;
                color:blue;
                font-weight: bold;
            }
            h3{              
                font-size:40px;
                font-weight: bold;
            }

            p{
                padding:10px 0;
                font-size:18px;
                line-height: 30px;
            }
            i{
                line-height: 20px;
                color:#999;
            }
            span a{
                display: inline-block;
                padding:8px 14px;
                color:#fff;
                font-weight: bold;
                font-size:16px; 
                margin:40px 0px 0 0px;
                border-radius: 20px;
                border:2px solid #fff;
            }
        }
    }
    .nex_img8{
        height:1000px;
        overflow: hidden;
        background:#fff;
        position: relative;
        .nex8_v1{
            position: absolute;
            left:200px;
            top:280px;
            height:550px;
        }

        .img8_con{
            position: absolute;
            color:#000;
            text-align: left;
            top:20px;
            left:200px;
            width: 800px;
            h2{
                margin-top:10px;
                font-size:40px;
                color:blue;
                font-weight: bold;
            }
            h3{              
                font-size:40px;
                font-weight: bold;
            }

            p{
                padding:10px 0;
                font-size:18px;
                line-height: 30px;
            }
            i{
                line-height: 20px;
                color:#999;
            }
            span a{
                display: inline-block;
                padding:8px 14px;
                color:#000;
                font-weight: bold;
                font-size:16px; 
                margin:40px 0px 0 0px;
                border-radius: 20px;
                border:2px solid #fff;
            }
        }
    }

    .nex_img9{
        height:1200px;
        width:100%;
        overflow: hidden;
        background:#fff;
        position: relative;
        .img9_con{
            position: absolute;
            color:#000;
            text-align: left;
            top:20px;
            left:200px;
            width: 500px;
            h2{
                margin-top:10px;
                font-size:40px;
                color:blue;
                font-weight: bold;
            }
            h3{              
                font-size:40px;
                font-weight: bold;
            }
            p{
                padding:10px 0;
                font-size:18px;
                line-height: 30px;
            }
            span a{
                display: inline-block;
                padding:8px 14px;
                color:#000;
                font-weight: bold;
                font-size:16px; 
                margin:40px 0px 0 0px;
                border-radius: 20px;
                border:2px solid #fff;
            }
        }
        .img9{
            position: absolute;
            top:0;
            right:200px;
            .nex9_1{
                width:250px;
                position: absolute;
                right:50px;
                top:0; 
            }
            .nex9_mask{
                width:250px;
                position: absolute;
                right:50px;
                top:0;
            }
            ._line{
                display: none;
                position: absolute;
                top:-50px;
                right:100px;
                .nex9_line{

                }
            }

        }

    }

    .nex_img10{
        height:900px;
        overflow: hidden;
        position: relative;
        .nex10_i1{
            position: absolute;
            left:0px;
            top:0px;
            height:900px;
        }
        .mask{
            position: absolute;
            top:0;
            width:100%;
            height:900px;
            z-index: 2;
            background:rgba(0, 0, 0, 0.8);
        }
        .img10_con{
            position: absolute;
            color:#fff;
            text-align: left;
            top:650px;
            left:200px;
            width: 400px;
            z-index: 1;
            h2{
                margin-top:10px;
                font-size:40px;
                color:blue;
                font-weight: bold;
            }
            h3{              
                font-size:40px;
                font-weight: bold;
            }

            p{
                padding:10px 0;
                font-size:18px;
                line-height: 30px;
            }

        }
    }

}

// footer1
.s_serve{
    width:100%;
    height:340px;
    background-color: #fff;
    ul{
        margin:0 auto;
        padding:40px 0;
        box-sizing: border-box;
        width:1200px;
        height:340px;
        overflow: hidden;
        li{
            float: left;
            width:400px;
            height:259px;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;   
            .iconfont{
                margin:30px auto;
                font-size: 60px;
                color:#999;
            }
            p{
                font-size: 18px;
                color:#999;
            }
            h6{
                height:18px;
                font-size: 14px;
                margin:20px auto 0;
                color:#666;
            }
            h5{
                height:18px;
                font-size: 14px;
                margin:0 auto;
                color:#666;
            }
            a{
                height:24px;
                margin:20px auto 0;
                color:blue;
            }
            span{
                width:10px;
                height:1px;
                background-color: blue;
                margin:0 auto;
            }
        }
    }
}

